<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-modal-view id="contactsList">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Select Contact</h1>
        <a ng-click="hideContacts()" class="button button-icon icon ion-close"></a>
    </ion-header-bar>
    <ion-content>
        <label class="item item-divider" ng-model="Contacts.lastRefreshed">Last Refreshed : {{lastRefreshed | date:'medium'}}</label>
    <ion-list>
        <ion-item ng-click="selectContact(contact)" ng-repeat="contact in Contacts.list">
            <h2>{{contact.firstName}} {{contact.lastName}}</h2>
        </ion-item>
    </ion-list>
    </ion-content>
</ion-modal-view>