<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-modal-view id="contactsList">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Select Contact</h1>
        <a ng-click="hideContacts()" class="button button-icon icon ion-close"></a>
    </ion-header-bar>
    <ion-content>
        <div class="list">
<!--
            <div class="item item-divider">Channels
                <i> (updated : {{getChannelsLastRefreshed() | date:'short'}})</i>
            </div>
            <a class="item" ng-click="selectChannel(channel)" ng-repeat="channel in channels">
                {{channel.name}}
            </a>
-->
            <ion-item class="item item-divider">Contacts
                <i> (updated : {{getContactsLastRefreshed() | date:'short'}})</i>
            </ion-item>
            <a class="item" ng-click="selectContact(contact)" ng-repeat="contact in contacts">
               {{contact.name}}{{" "}}({{contact.email}})               
            </a>
        </div>

    </ion-content>
</ion-modal-view>