<ion-view view-title="Receive Notifications" view-name="recieve">
    <ion-content class="padding">

        <div class="list card" ng-show="settings.backgroundModeEnabled">
            <div class="item item-divider item-icon-right">
                <i class="icon ion-checkmark-circled balanced"></i>
                Background Notifications Enabled
            </div>
            <div class="item item-body">
                <i>Notifications will play in Background</i>
            </div>
        </div>
        <div class="list card" ng-show="!settings.backgroundModeEnabled">
            <div class="item item-divider item-icon-left">
                <i class="icon ion-alert-circled assertive"></i>
                Background Notifications Disabled
            </div>
            <div class="item item-body">
                <i class="assertive">Notifications will NOT play in Background. Enable Background mode in Settings Tab</i>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider item-icon-right" ng-if="timeSinceReceived">
                Last alert received {{timeSinceReceived | number:2 }} s ago</div>
            <div class="item item-divider item-icon-right" ng-if="!timeSinceReceived">
                Last alert</div>
            <ion-item ng-show="!lastPush.timeSent" class="item">
                <h2>No alerts received.</h2>
            </ion-item>
            <ion-item ng-show="lastPush.timeSent" class="item">
                <div class="row">
                    <div class="col-67">
                        <h2>Car Speed:</h2>
                        <h2>Car Direction:</h2>
                        <h2>Time to receive:</h2>
                        <h2>Notification Played:</h2>
                        <h2>Delay Time Exceeded:</h2>
                    </div>
                    <div class="col-33">
                        <h2>{{lastPush.notification.carSpeed}}</h2>
                        <h2>{{lastPush.notification.carDirection}}</h2>
                        <p>{{lastPush.timeDifference/1000 | number: 2}} s</p>
                        <p>{{lastPush.notificationPlayed }}</p>
                        <p>{{lastPush.delayTimeExceeded}}</p>
                    </div>
                </div>
            </ion-item>

            <audio id="audio" ng-src="{{settings.currentAudioSrc}}"></audio>
        </div>
    </ion-content>
</ion-view>