<ion-view view-title="Send Notifications" name="tab-send">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Select Contact</div>
      <div class="list">
        <ion-item ng-if="!selected.contact.objectId" ng-click="showContacts()" class="item"> Tap to Select</ion-item>
        <div ng-if="selected.contact.objectId" class="item item-button-right">
          <h2 class="inline">{{selected.contact.name +" ("+ selected.contact.email+")"}}</h2>
          <button class="button icon button-icon assertive" ng-click="clearSelectedContact()">
            <i class="icon ion-minus-circled assertive"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="list card">
      <li class="item item-toggle dark">Voice Prompt
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="settings.voicePromptEnabled">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <div class="item item-body" ng-show="settings.voicePromptEnabled">
        <div class="button-bar">
          <a class="button" ng-class="{'button-positive': isVoicePromptBtnActive(1)}" ng-click="setVoicePrompt(1)">Prompt 1</a>
          <a class="button" ng-class="{'button-positive': isVoicePromptBtnActive(2)}" ng-click="setVoicePrompt(2)">Prompt 2</a>
          <a class="button" ng-class="{'button-positive': isVoicePromptBtnActive(3)}" ng-click="setVoicePrompt(3)">Prompt 3</a>
        </div>
      </div>
    </div>
    <div class="list card">
      <li class="item item-toggle dark">Vibration Pattern
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="settings.vibrationEnabled">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <div class="item item-body" ng-show="settings.vibrationEnabled">
        <label class="item item-input row ">
          <span class="input-label col col-75 padding">Vibration Duration (ms)</span>
          <input type="text" class="dark col col-25 padding" ng-model="settings.vibrationDuration">
        </label>
        <label class="item item-input row">
          <span class="input-label col col-75 padding">Vibration Delay (ms)</span>
          <input type="text" class="dark col-25 padding" ng-model="settings.vibrationDelay">
        </label>
        <label class="item item-input row ">
          <span class="input-label col col-75 padding">Vibration Repeat</span>
          <input type="text" class="dark col col-25 padding" ng-model="settings.vibrationRepeat">
        </label>
      </div>
    </div>
    <button class="button icon-left button-full button-positive " ng-disabled="!(selected.contact.objectId && settings.vibrationEnabled) && !(selected.contact.objectId && settings.voicePromptEnabled) && !(selected.contact.objectId && settings.voicePromptEnabled && settings.vibrationEnabled)" ng-class="settings.isOffline? 'ion-alert-circled': 'ion-paper-airplane' " ng-click="sendNotification()">
      {{settings.isOffline?"No Network - Cannot Send Notification ":"Send Notification "}}
    </button>
  </ion-content>
</ion-view>
