<ion-view view-title="Settings">
    <ion-content>
        <form>
            <ion-list>
                <label class="item item-select">
                    <span class="input-label">SMS Delay Time (in Seconds)</span>
                    <select ng-model="settings.smsDelayTime">
                        <option>0.5</option>
                        <option>1</option>
                        <option>1.5</option>
                        <option>2</option>
                    </select>
                </label>
                <label class="item" ng-model="settings.smsDelayTime">{{settings.smsDelayTime}}</label>
            </ion-list>
        </form>
    </ion-content>
</ion-view>