<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Receiver Tab -->
  <ion-tab title="Receive" icon-off="ion-android-walk" icon-on="ion-android-walk" href="#/tab/receive">
    <ion-nav-view name="tab-receive"></ion-nav-view>
  </ion-tab>

  <!-- Sender Tab -->
  <ion-tab title="Send" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/tab/send">
    <ion-nav-view name="tab-send"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

    <!-- Start Tab -->
  <ion-tab title="Account" icon-off="ion-ios-person-outline" icon-on="ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
