# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/android/.*
platforms/android/assets/
platforms/android/build/
platforms/android/cordova/
platforms/android/CordovaLib/
platforms/android/gradle/
platforms/android/libs/
platforms/android/platform_www
platforms/android/res/

plugins/
www/lib/
hooks/
.brackets.json
